ul {
  list-style: none;
  display: flex;
}
li {
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.layoutDefault {
  font-size: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    top: 0;
  }

  &__main{
    margin-top: 80px;
    padding: 20px;
  }

  &__footer{
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    font-size: 16px;
  }
}

.menu__link {
  &--active {
    color: gray;
  }
}
